html, body {
}  
html {overflow-y: scroll;}
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #0c2c49;
  line-height: 1.4;
  letter-spacing: .5px;
  background: #ffffff url(../images/pattern.jpg);
}
strong {
  font-weight: bold;
}
h1 {
  font-weight: 200;
  font-size: 70px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1;
}
h1 strong {
  font-weight: 600;
}
h2 {
  margin: 40px 0px 0px 0px;
  font-weight: 600;
  font-size: 28px;
}
h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
}
h4 {
  font-weight: 200;
  font-size: 15px;
  margin: 5px 0px 10px 0px;
}
p {
  font-weight: 300;
  margin: 30px 0px;
  max-width: 700px;
  line-height: 1.6;
}
p a {
  color: #f05231;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
p a:hover {
  color: #0c2c49;
}
#content ul {
  display: block;
  margin: 0px 0px 0px 18px;
}
#content ul li {
 list-style-type: disc;
 margin: 0px 0px 5px 0px;
}

#content li.tabbed ul, #content .static-content ul {
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

#content li.tabbed ul li, #content .static-content ul li { 

    list-style: none;
    list-style-type: none;
    padding-left: 1em; 
    text-indent: -.9em;
}

#content li.tabbed ul li:before,  #content .static-content ul li:before {
    content: "•  ";
    color: #f05231; /* or whatever color you prefer */
}
.wrapper {
  display: block;
  width: 90%;
  max-width: 900px;
  margin: 0px auto;
}
#header {
  display: block;
  width: 100%;
  background: #273644;
  padding: 30px 0px 60px 0px;
  overflow: hidden;
}
#header .logo {
  display: block;
  float: left;
  padding: 0px 0px 80px 30px;
}
#header .logo img {
  width: 144px;
}
body.about #header {
  background: url(../images/about-us-bg.jpg) no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
}
body.careers #header {
  background: url(../images/careers-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.services #header {
  background: url(../images/services-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.media #header {
  background: url(../images/media-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.member #header {
  background: url(../images/member-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.team #header {
  background: url(../images/team-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.gallery #header {
  background: url(../images/gallery-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.home #header {
  background: url(../images/home-bg.jpg) no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}
body.home #header .logo {
  display: block;
  float: left;
  padding: 0px 0px 40px 30px;
}
body.home #header h1 {
  font-size: 54px;
}
body.home #header p {
  color: #ffffff;
  max-width: 500px;
}
body.home #header a.home-header {
  display: inline-block;
  margin: 10px 10px 10px 0px;
  color: #fff;
  border: 1px solid #f05231;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 8px 30px;
  font-size: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
body.home #header a.home-header:hover {
  color: #ffffff;
  background-color: #f05231;
}
#gallery-cta h1 {
  font-size: 54px;
}
#gallery-cta p {
  color: #ffffff;
  max-width: 500px;
}
#gallery-cta a.home-header {
  display: inline-block;
  margin: 10px 10px 20px 0px;
  color: #fff;
  border: 1px solid #f05231;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 8px 30px;
  font-size: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
#gallery-cta a.home-header:hover {
  color: #ffffff;
  background-color: #f05231;
}
#gallery-cta {
  display: block;
  width: 100%;
  background: #273644;
  padding: 80px 0px 60px 0px;
  overflow: hidden;
  background: url(../images/home-gallery-callout.jpg) no-repeat center;
  background-size: cover;
}
#content ul.mission-home {
  display: table;
  width: 90%;
  margin: 80px auto;
}
#content  ul.mission-home li {
  display: table-cell;
  width: 33.333%;
}
.ul-wrap {
  display: block;
  width: 76%;
  margin: 0px auto;
   min-height: 230px;
  padding: 25px;
  background: #f05231;
  border-radius: 8px;
  border-top-left-radius: 0px;
}
.ul-wrap h2 {
  margin: 0px 0px 10px 0px;
  font-size: 25px;
  color: #ffffff;
}
.ul-wrap p {
  margin: 0px;
  color: #ffffff;
  line-height: 1.3;
}
.ul-wrap a img {
  width: 30px;
  margin: 10px 0px 0px 0px;
}
#content {
  display: block;
  padding: 50px 0px 40px 0px;
}
.media-link {
  padding: 40px 0px;
}
.media-link h2 {
  font-size: 23px;
  line-height: 1.2;
  margin: 15px 0px 20px 0px;
}
.media-link p {
  font-weight: 300;
  margin: 15px 0px;
}
.media-link a {
  color: #f05231;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
.media-link a img {
  height: 24px;
  float: right;
  margin: 0px 0px 0px 5px;
}
.media-link a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.media-link h2 strong {
  font-size: 17px;
  font-weight: 300;
}
ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0px;
}
ul#tabs li {
  display: inline-block;
  margin: 0px 5px 5px 0px;
  color: #f05231;
  border: 1px solid #f05231;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 8px 20px;
  font-size: 17px;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
ul#tabs li:hover {
  color: #ffffff;
  background-color: #f05231;
}
ul#tabs li.active {
  color: #ffffff;
  background-color: #f05231;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li.tabbed {
    display: none;
}
ul#tab li.tabbed.active {
    display: block;
}
#footer {
  margin: 80px 0px 0px 0px;
  display: block;
}
body.home #footer {
  margin: 40px 0px 0px 0px;
}
#footer .wrapper {
  border-top: 2px solid #0c2c49;
}
body.home #footer .wrapper {
  border-top: none;
}
#footer .wrapper ul {
  display: table;
  margin: 40px 0px;
}
#footer .wrapper ul li {
  display: table-cell;
  margin: 40px 0px;
  width: 25%;
}
#footer .wrapper ul li h3 {
  margin: 0px 25px 20px 10px;
}
#footer .wrapper ul li p {
  margin: 0px 25px 10px 10px;
  font-size: 14px;
}
#footer .wrapper ul li a.org-link {
  display: inline-block;
  margin: 10px 10px 20px 10px;
  color: #f05231;
  border: 1px solid #f05231;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 2px 20px;
  font-size: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
#footer .wrapper ul li a.org-link:hover {
  background: #f05231;
  color: #ffffff;
}
#footer .wrapper ul li a.inline {
  color: #f05231;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
#footer .wrapper ul li a.inline:hover {
  color: #0c2c49;
}
#footer .wrapper .social {
  display: block;
  float: left;
  border-right: 1px solid #f05231;
  padding: 5px 10px;
  margin: 0px 0px 20px 0px;
}
#footer .wrapper .social.last {
  border-right: none;
}
#footer .wrapper .social img {
  display: block;
  width: 48px;
}
#footer .wrapper .legal {
  font-size: 12px;
  margin: 0px 0px 40px 10px;
  float: left;
}
#footer .wrapper .credit {
  font-size: 12px;
  margin: 0px 0px 40px 10px;
  float: right;
}
#footer .wrapper .credit a {
  color: #797979;
  text-decoration: none;  
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#footer .wrapper .credit a:hover {
  text-decoration: underline;  
}
.clear {
  display: block;
  clear: both;
}
#contact {
  display: block;
  width: 100%;
  background: url(../images/contact-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 40px 0px;
  overflow: hidden;
}
.no-touch #contact {
  background-attachment: fixed;
}

.simplePopup {
  display: none;
  z-index: 9999999999;
  color:#fff;
  padding: 12px;
  width: 80%;
  min-width: 80%;
   position:fixed;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}
.simplePopup .left {
  display: block;
  width: 30%;
  float: left;
}
.simplePopup .left img {
  width: 90%;
  border: 1px solid #ffffff;
  margin: 10px 0px 0px 0px
}
.simplePopup .right {
  display: block;
  width: 70%;
  float: right;
  padding-top: 5px;
}
.bio {
  display: block;
  width: 33.3%;
  float: left;
  overflow: hidden;
  margin: 60px 0px 20px 0px;
}
a.bio {
  text-decoration: none;
}
a.bio h3 {
  text-decoration: none;
  color: #0c2c49;
  font-size: 24px;
  text-transform: capitalize;
}
a.bio h4  {
  text-decoration: none;
  color: #0c2c49;
  font-size: 15px;
}
a.bio p  {
  color: #0c2c49;
  margin: 0px;
  font-size: 15px;
}
a.bio p.link  {
  color: #f05231;
  margin: 20px 0px 0px 0px;
  font-size: 17px;
  display: inline-block;
}
a.bio p.link:hover  {
  text-decoration: underline;
}
a.bio p.link img {
  width: 25px;
  float: right;
  border: none;
  margin: 2px 0px 0px 10px;
}
.bio .wrapper {
  display: block;
  width: 80%;
  margin: 0;
}
.bio img {
  width: 90%;
  margin: 20px 0px;
  max-width: 500px;
  border: 1px solid #b0b0b0;
}
.gallery-wrapper {
  margin: 60px 0px;
}
.gallery-wrapper h2 {
  color: #0c2c49;
  font-size: 24px;
  text-transform: capitalize;
}
.popup-gallery {
  margin: 20px 0 0 0;
}
.popup-gallery img {
  margin: 1.5%;
}
.simplePopup .right p {
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.simplePopup .left .links {
  margin: 20px 0px 0px 0px;
}
.simplePopup .left a {
  font-size: 15px;
  color: #f05231;
  display: block;
  line-height: 1;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
.simplePopup .left a:hover {
  text-decoration: none;
  color: #fff;
}
.simplePopupClose {
  float: right;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 25px;
}
.simplePopupClose img {
  width: 100%
}
.simplePopupBackground {
  display: none;
  background: #1f303e;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999999999;
}

