@media screen and (max-width: 820px) {
  h1 {
    font-weight: 200;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
  }
  #header {
    display: block;
    width: 100%;
    background: #273644;
    padding: 30px 0px 40px 0px;
    overflow: hidden;
  }
  #header .logo {
    padding: 0px 0px 60px 30px;
  }
  #header .logo img {
    width: 100px;
  }
  #footer {
    margin: 80px 0px 0px 0px;
    display: block;
  }
  #footer .wrapper ul {
    display: block;
    margin: 20px 0px;
  }
  #footer .wrapper ul li br {
    display: none;
  }
  #footer .wrapper ul li {
    display: block;
    margin: 20px 0px;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #0c2c49;
  }
}
